@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf');
}

body {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F6FA;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container {
    text-align: center;
}

.form-header {
    margin-bottom: 20px;
}

.form-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.form-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-tabs button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    margin-right: 10px;
}

.form-tabs button.active {
    background-color: #ccc;
}

.form-content {
    display: flex;
}

.form {
    flex: 1;
    display: none;
    padding: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

.form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}